{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ username }}'s Chrips</h2>&nbsp;
    <br>
        <br>

     <form  id="new-blog" action="/chrip_new" method="post">
        <div class="form-group row">
        <div class="col-xs-4">
         <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" name="title">
        </div>
        </div>
         <div class="col-xs-4">
        <div  class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" name="description">
        </div>
         </div>
        </div>
        <button type="submit" class="btn btn-success">Create Chrip</button>
    </form>
<br>
    <br>
    <hr style="type:bold">
    {% if topics|length > 0 %}
    {% for topic in topics %}
        <h3 style="color:#800020;"><a href="/view_user_all/{{ topic._id }}" style="color:#800020;">{{ topic.title }}</a></h3>
        <p>{{ topic.description }}</p>
        <hr>
    {% endfor %}
      {% else %}
        <h4>There aren't any Chrips yet! </h4>
    {% endif %}
</div>
{% endblock %}